:root{
    --rojo: rgb(218, 153, 153);
    --blanco: white;
    --titulos:'Arima Madurai',cursive;
    --parrafos:'Mulish', sans-serif;
    --rojo-oscuro: rgb(185, 34, 34);
    --mostaza: rgb(168, 140, 124);
    --marron-oscuro: rgb(112, 66, 20);
}   

*{
    padding: 0;
    margin: 0;
}

.logo h2:hover{
    font-size: 3.5rem;
    transition: ease-in-out 0.5s;
}

.logo h2:not(:hover){
    font-size: 3rem;
    transition: ease-in-out 0.5s;
}


html{
    box-sizing: border-box;
    /*1 rem=10px*/
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: rgb(241, 238, 234);
}

*,*::after, *::before{
    box-sizing: inherit;
}

/*
Un rem es una medida como lo pixeles, pero el rem tiene un valor predeterminado que el navegador impone
En algunos casos el REM puede medir 16px:
1rem= 16px
2rem= 32px
*/

/*globales*/

.logo-imagen img{
    width: 9rem;
    height: 9rem;
}

@media (max-width:500px) {
    .logo-imagen img{
        display: none;
    }
}

.contenido-navegacion__div{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

h1,h2{
    font-family: var(--titulos);
}

h3,p,a{
    font-family: var(--parrafos);
}

.rojo-oscuro{
    color: var(--rojo-oscuro);
}

.blanco{
    color: var(--blanco);
}

.marron-oscuro{
    color: var(--marron-oscuro);
}

.ocultar{
    display: none;
}

.btn{
    margin-top: 1rem;
    text-decoration: none;
    color: var(--blanco);
    font-size: 2.2rem;
    text-transform: capitalize;
    padding: 1rem 3rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

@media (min-width:768px) {
    .btn{
        font-size: 2.2rem;
    }
}

.bordes{
    border: 3px solid var(--blanco);
}

@media (min-width:768px) {
    .bordes{
        border: 4px solid var(--blanco);
    }
}

.bordes:hover{
    background-color: var(--mostaza);
    transition: .5s;
}

.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top:0;
    right: 50px;
    user-select: none;
}

.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0,.5);
    z-index: 4;
}

@keyframes desplazamiento {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0) ;
    }
}

.logo span{
    animation: alternate 0.2s;
    cursor: pointer;
}


.btn-cerrar:hover{
    cursor:pointer;
}

/*encabezado*/
.contenedor-navegacion__div{
    background-color: var(--mostaza);
    position:relative;
    z-index: 5;
}

.contenido-navegacion__div{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.logo h2{
    font-size: 3rem;
}

.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    color:  var(--blanco);
    margin-right: 3rem;
    display: block;
    margin-bottom: 2rem;
    transition: color .3s ease-in-out;
    text-align: center;
}

@media(min-width:768px) {
    .navegacion a{
        text-align: left;
    }
}

.navegacion a:first-of-type{
    margin-top: 3rem;
}

.navegacion{
    position: absolute;
    top:0;
    right: 0;
    background-color: var(--mostaza);
    bottom: 0;
    height: 100vh;
    width: 45rem;
    padding: 3rem 4rem;
    animation: desplazamiento .5s ease-in-out;
    overflow: hidden;
}

@media (max-width:500px) {
    .navegacion{
        position: absolute;
        top:0;
        right: 0;
        background-color: var(--mostaza);
        bottom: 0;
        height: 100vh;
        width: 30rem;
        padding: 3rem 4rem;
        animation: desplazamiento .5s ease-in-out;
    }
}

.contenedor-navegacion__div a:hover{
    color: var(--marron-oscuro);
    font-weight: bold;
    
}

/*
.contenedor-navegacion__div a:nth-child(6){
    border: 1px solid var(--blanco);
    padding: 1rem 1rem;
    font-size: 2rem;
}

.contenedor-navegacion__div a:nth-child(6):hover{
    background-color: var(--rojo-oscuro);
    color: var(--blanco);
}
*/

.hamburguesa:hover{
    cursor: pointer;
}

.hamburguesa span{
    background-color: var(--blanco);
    display:block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}

/*video*/
.contenido-header__div{
    position: relative;
    width: 100%;
    height: 100%;
}

.contenido-header__div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.5);
}

.texto-encabezado{
    position: absolute;
    z-index:2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-encabezado h2{
    color: var(--blanco);
    font-size: 4rem;
}


@media(min-width: 768px){
    .texto-encabezado h2{
        font-size: 7.8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}


/*pie de página*/
svg{
    font-size: 8rem;
}


.contenedor-piepagina{  
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    margin-bottom: 0;
}

@media (max-width:400px) {
    .contenedor-piepagina{  
        display: flex;
        padding: 0;
        margin-bottom: 0;
    }

    .contenedor-piepagina{  
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 0;
    }
}

.contenedor-piepagina_div{
    flex: 0 0 calc(25% - 1rem);
}

.pie-pagina{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    background-color: var(--mostaza);
}

.contenedor-piepagina_div h3, .contenedor-piepagina_div p, .contenedor-piepagina_div h2{
    color: var(--marron-oscuro);
    font-weight: bold;
    text-align: center;
}

.contenedor-piepagina_div h3{
    font-size: 2.2rem;
}

.contenedor-redes-sociales{
    margin-top: 2.5rem;
    text-align: center;
}

.contenedor-redes-sociales svg{
    margin-right: 2rem;
}

.footer{
    text-align: center;
    color: var(--marron-oscuro);
    background-color: rgb(143, 116, 100);
    padding: 2rem;
    font-weight: bold;
    flex-shrink: 0
}

/*responsive footer*/

@media (max-width:450px) {
    .contenedor-piepagina{  
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        margin-bottom: 0;
    }

    .contenedor-piepagina_div h3{
        font-size: 1.3rem;
    }

    .contenedor-piepagina_div h2{
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
        color: var(--marron-oscuro);
    }
    .contenedor-piepagina_div p{
        font-size: 1.3rem;
        font-weight: none;
    }

    .contenedor-piepagina_div{
        flex: 0 0 calc(.5% - 1rem);
    }

    svg{
        font-size: 4rem;
        color: var(--blanco);
    }
    
    .contenedor-piepagina_div{
        text-align: center;
        justify-content: center;
    }

    .contenedor-piepagina_div .contenedor-redes-sociales{
       text-align: center;
       justify-items: center;
       justify-content: center;
    }
}

#mensajes p{
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}

@media (max-width:500px) {
    #mensajes p{
        color: var(--blanco);
        font-size: 2rem;
        text-align: center;
        justify-content: center;
    }
    #mensajes{
        top: 0;
    }

    .contenedor-piepagina_div h2{
        font-size: .7rem;
    }
}
    

/*responsive samsumg s8+*/


/*cuerpo y más*/

.mas-informacion{
    display: inline-flex;
    background-color: #c4b79d;
}

.mas-informacion  img{
    border-radius: 100%;
    height: 30rem;
    padding: 4rem;
}

.informacion_2{
    padding: 5rem 5rem;
}
